body {
    background-color: #FFFACD;
    color: #333;
}
#header {
     background-image: url("12.jpg");
     background-repeat: space;
  background-attachment: fixed;
  background-position: center;
}
#content {
  background-color: green;
  background-image: url("pif.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: top right;
 border: 1px solid #333;
}
